<p>Hello <%= @user.name.split(' ')[0] %>,</p>

<p>Thanks for choosing ClassVantage as your digital gradebook and assessment solution! My name is Jared.</p>  

<p>As an elementary school teacher, I know how difficult it can be to keep track of student performance. That's why we built ClassVantage to simplify your gradebook, rubrics and checklists with the convenience of the cloud.</p>

<p>Your FREE account gives you unlimited access to:
<br/><br/>
-Create and mark curriculum aligned rubrics 
<br/>
-Create and mark success checklists
<br/>
-Add notes to student assessments right from your gradebook
<br/>
-Print or save to PDF marked rubrics and checklists for easy distribution to parents
<br/><br/>
We are constantly working to add features and improve your ClassVantage experience. If you have any questions or feedback on how we can improve your classroom experience please reach out to me at jared@classvantage.com. I would love to hear from you!
<br/><br/>
I will check-in with you throughout the school year with additional resources and best practices to help improve your ClassVantage experience. 
<br/><br/><br/>
Happy Teaching!
<br/><br/>
Jared
</p>